/* main style */
@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    /* Color palette for Alma de Tortuga */
    --color-primary: #818E59;
    --color-secondary: #283429;
    --color-accent-light: #FFEDCC;
    --color-accent-lighter: #FEF7EA;
    --color-accent-gold: #D09559;

    --color-white: #ffffff;
    --color-black: #000000;

    /* Font families */
    --font-heading: 'Poltawski Nowy', serif;
    --font-body: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-body);
    color: var(--color-secondary);
    background-color: var(--color-accent-lighter);
}

.main-content-wrapper {
    flex-grow: 1;
    /* Esto empuja el footer hacia abajo */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}

h1 {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
}

h2 {
    font-size: 2.5rem;
    line-height: 1.3;
    font-weight: 600;
}

h3 {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 600;
}

h4 {
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 500;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 400;
}

/* CCS NAV VAR */

/* ======== NAVBAR ======== */
.custom-navbar {
    background-color: var(--color-accent-light);
    padding: 0.5rem 1rem;
}

.navbar-nav .nav-link {
    color: #5a3e1b;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: var(--color-primary);
}



/* Texto ToteBags en negro */
.navbar .nav-link[href="#totebags"],
.dropdown-toggle.titulo {
  color: #000000 !important; /* negro */
}



/* ======== LOGO ======== */
.logo-circle {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 3px solid var(--color-primary);
    background-color: var(--color-accent-light);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 4px;
}

.logo-img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

/* ======== CARRITO ======== */
.cart-icon-container {
    margin-right: 1rem;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #c0392b;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.75rem;
    display: none;
}

/* Mostrar contador en el carrito */
.cart-count.active {
    display: inline-block;
}

/* ======== RESPONSIVIDAD ======== */
@media (max-width: 991px) {
    .navbar-collapse {
        background-color: var(--color-accent-light);
        padding: 1rem;
    }

    .navbar-nav {
        width: 100%;
    }

    .navbar-nav .nav-link {
        text-align: center;
        padding: 0.5rem 0;
    }


/* CCS FOOTER */

/* CCS Formulario */

/* Extras añadir con comentario */