.compact-card .card-body {
  padding: 0.75rem;
}
.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color:  #D09559; 
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.7rem; 
  font-weight: bold;
}